In [ ]:
#importando as bibliotecas
import keras
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#utilizamos os google drive para abrir os arquivos. 
df=pd.read_csv('drive/My Drive/TCC2-Contratos/Contratospublicos.csv', encoding = "ISO-8859-1")
df.head()
#df

Mounted at /content/drive

     Cidade  N_Contrato  ...  Valor_Unitario     Valor_total
0  Anápolis          41  ...       R$: 1.49   R$: 186.302.15
1  Anápolis          41  ...       R$: 1.49    R$: 61.852.88
2  Anápolis          41  ...       R$: 1.49   R$: 226.763.10
3  Anápolis          41  ...       R$: 1.49    R$: 75.090.04
4  Anápolis          41  ...       R$: 3.71   R$: 423.006.78

[5 rows x 8 columns]

In [ ]:
#separando Cidade  
df_contra = df[df['Cidade'] == 'Anápolis' ]
df_contra.head()
#df_contra

In [ ]:
#separando Cidade
df_contra = df[df['Cidade'] == 'Rio Verde' ]
df_contra.head()
#df_contra

In [ ]:
#separando Cidade
df_contra = df[df['Produto'] == 'Tomate' ]
df_contra.head()

      Cidade  N_Contrato   Ano  ... Produto  Valor_Unitario    Valor_total
13  Anápolis          41  2020  ...  Tomate       R$: 1.79   R$: 74.306.48
25  Anápolis          45  2020  ...  Tomate        R$: 1.79  R$: 24.052.23

[2 rows x 8 columns]

In [ ]:
#separando Cidade
df_contra = df[df['Produto'] == 'Tomate' ]
df_contra.head()

      Cidade  N_Contrato   Ano  ... Produto  Valor_Unitario    Valor_total
13  Anápolis          41  2020  ...  Tomate       R$: 1.79   R$: 74.306.48
25  Anápolis          45  2020  ...  Tomate        R$: 1.79  R$: 24.052.23

[2 rows x 8 columns]